@model IEnumerable<Student>
@{
    ViewBag.Title = "Students";
}

<h2>List of Students</h2>
<hr/>

@using(Html.BeginForm("Index","Students",FormMethod.Get,new {@class="form-inline"}))
{
    <div>
   Filter By : <input type="text" class="form-control" placeholder="Search..."  name="SearchString" />
   <input type="submit" class="btn btn-default" value="Filter" />
    </div>
}
<div class="pull-right">
    <p>
    <a href="@Url.Action("Create")" class="btn btn-primary btn-sm">Add a Student</a>
    </p>
</div>

<table class="table table-hover table-striped table-responsive table-bordered">
    <thead>
        <tr>
            <th>Id</th>
             <th>FirstName</th>
             <th>LastName</th>
             <th>Email</th>
             <th>Status</th>
             <th>Action</th>
        </tr>
    </thead>

    <tbody>
       
            @foreach(var student in Model)
            {
                 <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                 <td>@student.LastName</td>
                  <td>@student.Email</td>
                  <td>
                      @if(student.Status)
                      {
                         <label class="label label-success">Active</label>
                      }
                      else
                      {
                          <label class="label label-warning">Passive</label>                                       
                      }
                      </td>
                  <td>
                      <a href="@Url.Action("Edit","Students",new {id = student.Id})" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-edit"></span></a>
                      <a href="@Url.Action("Delete","Students",new {id = student.Id})" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                      </td>
                  </tr>
            }
        
    </tbody>
</table>